@{
    ViewBag.Title = "Contact";
}
@section Style{
    <style>
        .site-title{
            color: green;
            font-family: 'Righteous';
            margin-top: 1px;
            margin-bottom: 1px;
            font-size: 50px;
        }


        .addr-title{
            color: mediumblue;
            font-family: 'Righteous';
            margin-top: 1px;
            margin-bottom: 1px;
            font-size: 15px;
        }

    </style>
}

<hr />
<h2 class="text-center text-info">@ViewBag.Title - Us</h2><hr/>
@*<h4 class="text-center site-title">Towhidul islam</h4>*@
<h5 class="text-center site-title">Team-Overflow</h5>
<address class="text-center addr-title">

    Karnafully<br />
    Chittagong<br />
    <abbr title="Phone">Office:&nbsp;</abbr>
    018XXXXXXXX
</address>

<address class="text-center">
    <strong>Support:</strong>   <a href="mailto:towhidulislamcse@gmail.com">towhidulislamcse@gmail.com</a><br />
</address>

<div class="social" style="margin: 5%;">
    <div class="d-flex flex-row justify-content-center">
        <a href="http://www.facebook.com/towhiduli3"><i class="fab fa-facebook-f m-2"></i></a>
        <a href="http://www.twitter.com/towhiduli3"><i class="fab fa-twitter m-2"></i></a>
        <i class="fab fa-instagram m-2"></i>
        <i class="fab fa-youtube m-2"></i>
    </div>
</div>