
@model MedicalInformationSystemWebApp.Models.CodeFirstModel.DoctorTB
@{
}

@section Style{
    <style>
        body {
            counter-reset: Serial;
        }

        table tr td {
            text-align: left;
        }

        tr td:first-child:before {
            counter-increment: Serial; /* Increment the Serial counter */
            content: counter(Serial); /* Display the counter */
        }
    </style>
}

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <div class="form-group ">
        @Html.LabelFor(model => model.DepartmentId, "Department")
        @Html.DropDownList("DepartmentId", null, "--Select Department--", new { @class = "form-control center" })
    </div>

    <h4 class="text-center text-info">Doctor List</h4>

}

<table class="table">
    <thead>
        <tr>
            <th rowspan="1">SL</th>
            <th>Name</th>
            <th>Visit Time</th>
            <th>Visit Day</th>
        </tr>
    </thead>
    <tbody id="doctorList"></tbody>

</table>
@section scripts
{
    <script>
        $(function() {
            $('#DepartmentId').on('change',
                function () {
                    var depId = $('#DepartmentId').val();
                    var json = {
                        departmentId: depId
                    };
                    $("#doctorList").empty();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetAllDoctorByDepartmentId", "Doctor")',
                        contentType: 'application/json',
                        data: JSON.stringify(json),

                        success: function (data) {

                            $.each(data,
                                function (key, value) {

                                    //$("#doctorList").append('<tr><td></td><td>' +'Dr. '+ value.Name+'<br/>'+value.designation + '</td><td>' + value.VisitingTimeStart +'-'+value.VisitingTimeEnd +'</td><td>' + value.VisitDay + '</td></tr>');
                                    $("#doctorList").append('<tr><td></td><td>' +'Dr. '+ value.NameED+ '</td><td>' + value.VisitingTimeStart +'-'+value.VisitingTimeEnd +'</td><td>' + value.VisitDay + '</td></tr>');


                                });
                        }
                    });
                });
        });
    </script>
}


